{%extends 'base.html'%}
{%block  page_customer%}
<center>
<form method="POST"> {%csrf_token%}
    {{form.as_p}}
<input type ='submit' value ='submit'>
</form>
</center>
{% load static%}
<div class="block-schedule overlay site-section" style="background-image: url('{% static "images/hero_bg_2.jpg"%}');">
    <div class="container">
  
      <h2 class="text-white display-4 mb-5">Rregistration Table</h2>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-sunday" role="tabpanel" aria-labelledby="pills-sunday-tab">
          <div class="row-wrap">
            <div class="row bg-white p-4 align-items-center">
            <!-- <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">First Name</h3></div> -->
            {% for item in list_stu %}
              <div class="col-sm-3 col-md-3 col-lg-3"><h3 class="h5">{{item.first_name}}</h3></div>
              <div class="col-sm-3 col-md-3 col-lg-3">{{item.last_name}}</div>
              <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> {{item.phone_num}}</div>
              <div class="col-sm-3 col-md-3 col-lg-3"><span class="icon-person mr-3"></span> {{item.health_prob}}</div>
              {%endfor%}
            </div>
          </div>
  </div>
  </div>
  </div>      
  </div>

 

{% endblock%}
